
  <app-nav-bar></app-nav-bar>

    <h2> Hi, ny name is</h2>
    <h1>Isabelle Jetson </h1>
    <h1>I build things </h1>
    <p>
      I'm a full stack developer with a passion for web development. I am currently based somewhere in Melbourne. My main focus is building fast, accessible, and beautiful websites that users enjoy.",
    </p>
    <p>
      You can have a look at some of my work here.
    </p>
    <button> See My Work </button>

    <app-about></app-about>
    <app-project></app-project>
    <h3>Contact Me</h3>
    <p>You can contact me at <a href="mailto:your-email@example.com">your-email@example.com</a>.</p>


