<h1>Here are some projects I've worked on</h1>

<div class="proj-cont">
  <div id="projects" >
    <div id="container">
        <h2>BSSG booking system</h2>
        <h3> tech stack used</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        <button>Demo</button>
        <button onClick="window.location.href='https://github.com/belleswin/BSSGProject';"> Source code</button>
    </div>

    <div id="container">
        <h2>NBA Predictor</h2>
        <h3> tech stack used</h3>
        <p>An NBA prediction app used to predict the outcome of a game.</p>
        <button>Demo</button>
        <button onClick="window.location.href='https://github.com/belleswin/DIP-Sem1-TeamProj';"> Source code</button>
    </div>

    <div id="container">
        <h2>Starbucks Clone</h2>
        <h3> tech stack used</h3>
        <p>A website designed to closely mimic the layout features and functionality of the official starbucks website. </p>
        <button>Demo</button>
        <button onClick="window.location.href='https://github.com/belleswin/starbucks-Clone';"> Source code</button>
    </div>

    <div id="container">
      <h2>Tic-Tac-Toe</h2>
      <h3> tech stack used</h3>
      <p>Software tha allows user to play a game of tic-tac-toe on there phone or computer.</p>
      <p>App is un-finish as it has been left unstyled. will be later incorporating back-end ai for user to play against. </p>
      <button>Demo</button>
      <button onClick="window.location.href='https://github.com/belleswin/tic-tac-toe';"> Source code</button>
  </div>

  <div id="container">
    <h2> To-do List</h2>
    <h3> tech stack used</h3>
    <p>A to-do list app that allows users to organise and track their tasks in a fun and interactive way. it is designed to resemble a quest log  from  RPG, with an 8-bit retro aesthetic and game play elements</p>
    <button>Demo</button>
    <button onClick="window.location.href='https://github.com/belleswin/todo-list';"> Source code</button>
  </div>

  <div id="container">
    <h2> More Projects to Come</h2>

  </div>

  </div>
</div>


