<h1>Here are some projects I've worked on</h1>

<div id="projects">
    <div id="container">
        <h2>Project Name</h2>
        <h3> tech stack used</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        <button>Demo</button>
        <button> Source code</button>
    </div>

    <div id="container">
        <h2>Project Name</h2>
        <h3> tech stack used</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        <button>Demo</button>
        <button> Source code</button>
    </div>

    <div id="container">
        <h2>Project Name</h2>
        <h3> tech stack used</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        <button>Demo</button>
        <button> Source code</button>
    </div>
</div>
 <button id="more"> More projects</button>

