<div id="main">
  <h1>Here are some projects I've worked on</h1>

<div class="proj-cont">
  <div id="projects" >
    <div id="container">
        <h2>BSSG booking system</h2>
        <h3>mongoDB Angular express </h3>
        <p>Users will be able to interact with events posted on an interactive calendar and reserve spots for events that are listed there. Admins will be able to perform simple CRUD operations on all events and track the number of bookings as customers submit applications.</p>
        <button onClick="window.location.href='https://dulcet-cendol-1965ce.netlify.app/';">Demo</button>
        <button onClick="window.location.href='https://github.com/belleswin/BSSGProject';"> Source code</button>
    </div>

    <div id="container">
        <h2>NBA Predictor</h2>
        <h3>Angular SQL C# </h3>
        <p>An NBA prediction app used to predict the outcome of a game.</p>
        <button onClick="window.location.href='https://sensational-druid-staging.netlify.app/';">Demo</button> 
        <button onClick="window.location.href='https://github.com/belleswin/DIP-Sem1-TeamProj';"> Source code</button>
    </div>

    <div id="container">
        <h2>Starbucks Clone</h2>
        <h3>HTML CSS JavaScript</h3>
        <p>A website designed to closely mimic the layout features and functionality of the official starbucks website. </p>
        <button onClick="window.location.href='';">Demo</button>
        <button onClick="window.location.href='https://github.com/belleswin/starbucks-Clone';"> Source code</button>
    </div>

    <div id="container">
      <h2>Tic-Tac-Toe</h2>
      <h3> Angular </h3>
      <p>Software tha allows user to play a game of tic-tac-toe on there phone or computer.</p>
      <p>App is un-finish as it has been left unstyled. will be later incorporating back-end ai for user to play against. </p>
      <button onClick="window.location.href='';">Demo</button>
      <button onClick="window.location.href='https://github.com/belleswin/tic-tac-toe';"> Source code</button>
  </div>

  <div id="container">
    <h2> To-do List</h2>
    <h3>Angular</h3>
    <p>A to-do list app that allows users to organise and track their tasks in a fun and interactive way. it is designed to resemble a quest log  from  RPG, with an 8-bit retro aesthetic and game play elements</p>
    <button onClick="window.location.href='';">Demo</button>
    <button onClick="window.location.href='https://github.com/belleswin/todo-list';"> Source code</button>
  </div>

  <div id="container">
    <h4> More Projects to Come</h4>

  </div>

  </div>
</div>
</div>


