#container {
    background-color: #f0f0f0;
    margin: 20px;
    width: 300px;
    height: 300px;
  }

#projects{
  display: flex;
  margin: auto;
  min-width: 100%;
}

button {
  background-color: white;
  color: #555555;
  border: 2px solid #555555;
  font-family: monospace;
  margin: 5px;
}
  button:hover {
    background-color: #555555;
    color: white;
  }
    
  